In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
data = pd.read_csv('amazondata.csv')

/var/folders/t3/tyl830xn3bz3l5tz9hv_2lzr0000gn/T/ipykernel_22099/532966513.py:1: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('amazondata.csv')

In [3]:
data.head()

,Helpful Votes (bin),Number of Records,Star Rating (bin),Customer Id,Helpful Votes,Overall Votes,Product Id,Review Body,Review Year,Review Headline,Star Rating
0,0,1,0.0,NaN,4.0,14.0,26009102,You will love this book. It is a hard long re...,03/17/2005 0:00,Best Book Ever,5.0
1,NaN,1,NaN,NaN,NaN,NaN,7491727,This is the UK edition of Dr. Omit's book. Dr....,NaN,researchers from John Hopkins School of Medici...,NaN
2,0,1,0.0,NaN,2.0,2.0,002782683X,This is a fun and entertaining book about lear...,06/25/2012 0:00,Michelle,5.0
3,0,1,0.0,NaN,0.0,0.0,60187271,"Started a big slow, but once into it the autho...",06/09/2013 0:00,Loved the book,5.0
4,0,1,0.0,NaN,14.0,20.0,60392452,Received this book as a Christmas present. I h...,08/05/2003 0:00,Challenges your assumptions,4.0

In [5]:
data.shape

(128845, 11)

In [5]:
new_data = data[['Helpful Votes','Review Body', 'Review Year', 'Review Headline', 'Star Rating']]

In [6]:
new_data.head()

,Helpful Votes,Review Body,Review Year,Review Headline,Star Rating
0,4.0,You will love this book. It is a hard long re...,03/17/2005 0:00,Best Book Ever,5.0
1,NaN,This is the UK edition of Dr. Omit's book. Dr....,NaN,researchers from John Hopkins School of Medici...,NaN
2,2.0,This is a fun and entertaining book about lear...,06/25/2012 0:00,Michelle,5.0
3,0.0,"Started a big slow, but once into it the autho...",06/09/2013 0:00,Loved the book,5.0
4,14.0,Received this book as a Christmas present. I h...,08/05/2003 0:00,Challenges your assumptions,4.0

In [7]:
new_data.shape

(128845, 5)

In [8]:
store_data = new_data.sample(1000)
store_data.head()

,Helpful Votes,Review Body,Review Year,Review Headline,Star Rating
95353,0.0,The first two books of the series were simply ...,11/19/2013 0:00,"Must read, but not for all the right reasons",3.0
60920,6.0,&quot;The Bonesetter's Daughter&quot; is a sto...,04/17/2001 0:00,"A sincere portayal of strong, maternal love.",5.0
1478,0.0,Received on time and as described. Will use ag...,08/30/2015 0:00,Five Stars,5.0
115560,0.0,my nephew loved it.,08/27/2015 0:00,Five Stars,5.0
35823,3.0,I didn't enjoy this one as much as The Other B...,01/12/2006 0:00,Another hit!,4.0

In [10]:
store_data.to_csv('Reviews_data.csv', index=False)